{% extends 'main/base.html'%}
{% block content %}
        <div class="post">

            <div class="right">

                <h2><a href="index.html">Read Me First</a></h2>

               <p class="post-info">Filed under <a href="index.html">templates</a>, <a href="index.html">internet</a></p>

                <div class="image-section"></div>


               <p><a class="more" href="index.html">continue reading &raquo;</a></p>

            </div>

            <div class="left">

                <p class="dateinfo">JAN<span>31</span></p>

                <div class="post-meta">
                    <h4>Post Info</h4>
                        <ul>
                           <li class="user"><a href="#">Erwin</a></li>
                           <li class="time"><a href="#">12:30 PM</a></li>
                           <li class="comment"><a href="#">2 Comments</a></li>
                        </ul>
                        </div>

            </div>

            </div>
{% endblock%}