{% extends 'kotakuang/base.html' %}
{% block title %} <h2><a href="">Tentang Kami</a></h2> {% endblock %}

{% block content %}
<p>
    Kotak uang adalah aplikasi web yang berguna untuk memantau pengeluaran dan pesukan keuangan anda.
    Dengan Kotak uang kita dapat mengetahui apakah sekarang kita sedang "sempit" atau "longgar" dalam hal keuangan. 
</p>
<p>
    Aplikasi ini dibangun menggunakan Bahasa pemrogaman <a href="http://python.org/" target="blank">Python</a> dan framework yang digunakan adalah <a target="blank" href="www.allbuttonspressed.com/projects/django-nonrel">Django-nonrel</a>.
    Hosting yang digunakan adalah <a href="http://appspot.com" target="blank">Google Appengine</a>
</p>


{% endblock %}