<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

<meta name="Description" content="Information architecture, Web Design, Web Standards." />
<meta name="Keywords" content="Manajeman Uang" />
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="Distribution" content="Global" />
<meta name="Author" content="Bramandityo Prabowo - freez_meinster@yahoo.co.id" />
<meta name="Robots" content="index,follow" />

<link rel="stylesheet" href="/asset/images/Envision.css" type="text/css" />
<link rel="shortcut icon" href="/asset/lib/favicon.png" />
<title>Teh manis - Kotak uang</title>
	{% load humanize %}
</head>

<body>
<!-- wrap starts here -->
<div id="wrap">
		
		<!--header -->
		<div id="header">			
				
			<h1 id="logo-text"><a href="{% url kotakuang_home %}">Kotak Uang</a></h1>
			<p id="slogan">Pantau Keuangan Anda disini</p>		
			<img class="logo" src="/asset/lib/logo.png"/>
			
			<div id="header-links">
			<p>
			        <a href="{% url main %}">Situs Utama</a>
				
				{% if user.is_authenticated %}
				| <a href="{% url kotakuang_home %}">Akun</a> |
				<a href="{% url user_logout %}">Logout</a>
				{% else %}
				| <a href="{% url register 1 %}">Daftar</a> | 
				<a href="{% url user_login %}">Login</a>
				{% endif %}
			</p>		
		</div>		
						
		</div>
		
		<!-- menu -->	
		<div  id="menu">
			<ul>
				<li {% if url == 'home' %} id="current" {% endif %}><a href="{% url kotakuang_home %}">Beranda</a></li>
				{% if user.is_authenticated %}
				<li {% if url == 'kategori' %} id="current" {% endif %}><a href="{% url kotakuang_kategori %}">Kategori</a></li>
				<li {% if url == 'pemasukan' %} id="current" {% endif %}><a href="{% url kotakuang_pemasukan %}">Pemasukan</a></li>
				<li {% if url == 'pengeluaran' %} id="current" {% endif %}><a href="{% url kotakuang_pengeluaran %}">Pengeluaran</a></li>
				{% endif %}
				<li {% if url == 'about' %} id="current" {% endif %}><a href="{% url kotakuang_about %}">Tentang Kotak Uang</a></li>		
			</ul>
		</div>					
			
		<!-- content-wrap starts here -->
		<div id="content-wrap">
				
			<div id="sidebar">
			{% if user.is_authenticated %}
			    <h3>Selamat datang kembali </h3>
			    <ul class='sidemenu'>
				<li>{{ user.get_full_name }}</li>
				<li>
				    <strong>Email</strong><br/>
				    {{ user.email }}
				</li>
				<li>
				    <strong>Terakhir Login</strong><br/>
				    {{ user.last_login|date:"D, d M Y" }}
				</li>
				<li>
				    <strong>Mendaftar Sejak</strong><br/>
				    {{ user.date_joined|timesince }}
				</li>
			    </ul>
			    
			    <h3>Total Pengeluaran </h3>
			    <ul class='sidemenu'>
				<li>Rp {{ total_pengeluaran|intcomma }},-</li>
			    </ul>
			    
			    <h3>Total Pemasukan </h3>
			    <ul class='sidemenu'>
				<li>Rp {{ total_pemasukan|intcomma }},-</li>
			    </ul>
			    
			    <h3>Saldo </h3>
			    <ul class='sidemenu'>
				<li>Rp {{ saldo|intcomma }},-</li>
			    </ul>
			{% endif %}
			</div>
				
			<div id="main">
			{% block title %}{% endblock %}
                        {% block content %}
                        {% endblock %}
                    	</div>
		
		<!-- content-wrap ends here -->	
		</div>
					
		<!--footer starts here-->
		<div id="footer">
			
			<p>
			&copy; 2011 <strong>Teh Manis, Web Developer Team </strong> | 
			Design by: <a href="http://www.styleshout.com/">styleshout</a> | 
			Valid <a href="http://validator.w3.org/check?uri=referer">XHTML</a> | 
			<a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>

   		</p>
				
		</div>	

<!-- wrap ends here -->
</div>

</body>
</html>
