{% extends 'kotakuang/base.html' %}
{% block title %} <h2>Daftar Pemasukan</h2> {% endblock %}
{% load humanize %}
{% block content %}
{% for data in pemasukan.object_list %}
<p>
<h3>{{ data.nama|title }}</h3>
<table>
    <tr><td>Tgl Masuk </td><td>{{ data.tgl_buat|date:"D, d M Y" }}</td></tr>
    <tr><td>Kategori</td><td><a href="{{ data.kategori.id }}">{{ data.kategori|title }}</a></td></tr>
    <tr><td>Jumlah</td><td>Rp {{ data.jumlah|intcomma }},-</td></tr>
    {% if data.keterangan %}
    <tr><td>Keterangan</td><td>{{ data.keterangan  }}</td></tr>
    {% endif %}
</table>
</p>
{% endfor %}
<p>

<div class="pagination">
            <span class="step-links">
                {% if pemasukan.has_previous %}
                    <a href="?page={{ pemasukan.previous_page_number }}">sebelumnya</a>
                {% endif %}

            <span class="current">
                Halaman {{ pemasukan.number }} dari {{ pemasukan.paginator.num_pages }}.
            </span>

                {% if pemasukann.has_next %}
                    <a href="?page={{ pemasukan.next_page_number }}">setelahnya</a>
                {% endif %}
            </span>
        </div>

{{ form.errors }}
<form method="POST" action="">
<table>
    <tr><td>{{ form.nama.label }}</td><td>:</td><td>{{ form.nama }}</td></tr>
    <tr><td>{{ form.kategori.label }}</td><td>:</td><td>{{ form.kategori }}</td></tr>
    <tr><td>{{ form.jumlah.label }}</td><td>:</td><td>{{ form.jumlah }}</td></tr>
    <tr><td>{{ form.keterangan.label }}</td><td>:</td><td>{{ form.keterangan }}</td></tr>
    <td><td colspan='3'><input type="submit" value="Tambah"/></td></tr>
    </table>
</form>

</p>
{% endblock %}
